<div class="navbarwrap">
    <script src="/js/randomimage.js"></script>
    <div class="navbar-content">
        <div class="grid_1 content-holder">
            <!--<img src="/assets/mayo.gif" style="margin-left: -5px; margin-bottom: 0px;" alt="">-->
            <img class="bruh" id="myPicture" alt="" src="{pic}" />

        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2" style="display: flex; flex-direction: column; gap: 10px;">
                <div class="sociallinks">

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "YouTube"
                        "link" "https://youtube.com/Starpelly"
                        "src"  "/assets/Images/social/youtube.svg"
                    ) "YouTubeLink" }}

                    <!--
                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Instagram"
                        "link" "https://instagram.com/Starpelly_"
                        "src"  "/assets/Images/social/instagram.svg"
                    ) "InstagramLink" }}
                -->

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "GitHub"
                        "link" "https://github.com/starpelly"
                        "src"  "/assets/Images/social/github.svg"
                    ) "GitHubLink" }}

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Steam"
                        "link" "https://steamcommunity.com/id/starpelly/"
                        "src"  "/assets/Images/social/steam.svg"
                    ) "SteamLink" }}

                                        {{ partialCached "navbar/social-link.html" (dict
                        "title" "Newgrounds"
                        "link" "https://starpelly.newgrounds.com"
                        "src"  "/assets/Images/social/newgrounds.svg"
                    ) "NewgroundsLink" }}

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "RSS Feed"
                        "link" "/index.xml"
                        "src"  "/assets/Images/social/rss.svg"
                    ) "RSSLink" }}

                </div>
                <div class="sociallinks">
                    
                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Substack"
                        "link" "https://starpelly.substack.com"
                        "src"  "/assets/Images/social/substack.svg"
                    ) "SubstackLink" }}

                    {{/*
                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Bluesky (I don't use this)"
                        "link" "https://bsky.app/profile/starpelly.com"
                        "src"  "/assets/Images/social/bluesky.svg"
                    ) "BlueskyLink" }}
                    */}}
                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "osu!"
                        "link" "https://osu.ppy.sh/users/11549458"
                        "src"  "/assets/Images/social/osu.svg"
                    ) "OsuLink" }}

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Bandcamp"
                        "link" "https://starpelly.bandcamp.com"
                        "src"  "/assets/Images/social/bandcamp.svg"
                    ) "BandcampLink" }}

                    {{ partialCached "navbar/social-link.html" (dict
                        "title" "Flashii"
                        "link" "https://flashii.net/profile.php?u=281"
                        "src"  "/assets/Images/social/flashii.svg"
                    ) "FlashiiLink" }}

                </div>
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <div class="menu-links">
                    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                </div>
            </div>   
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <div class="menu-links">
                    <span class="menu-link-title">Pages</span>
                    {{ partial "menu.html" (dict "menuID" "pages" "page" .) }}
                </div>
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <div class="menu-links">
                    <span class="menu-link-title">Archive</span>
                    {{ partial "archive-tree.html" . }}
                </div>
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                Contact
                <br>
                <a href="mailto:pelly@boxsubmus.com">pelly@boxsubmus.com</a>
            </div>
        </div>
        
        <div class="grid_1 content-holder">
            <div class="pad_2" style="display: flex; flex-direction: column; gap: 10px;">
                <!--<a class="menulink" href="/" style="background-image:url('/assets/Images/tabs/homepage.png')">
                </a>-->
                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://motionmelody.com"
                        "src"  "/assets/Images/tabs/motionmelody.png"
                ) "Motionmelody" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://starpelly.itch.io/minesweeper"
                        "src"  "/assets/Images/tabs/minesweeper.gif"
                ) "Minesweeper" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "/otomad"
                        "src"  "/assets/Images/tabs/otomad.gif"
                ) "otomad" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://www.newgrounds.com"
                        "src"  "/assets/Images/tabs/newgrounds.gif"
                ) "Newgrounds" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://store.steampowered.com/app/322170/Geometry_Dash/"
                        "src"  "/assets/Images/tabs/gd.gif"
                ) "GMD" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://www.smwcentral.net/"
                        "src"  "/assets/Images/tabs/smw.gif"
                ) "SMW" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://walfas.org/"
                        "src"  "/assets/Images/tabs/walfas.org.png"
                ) "Walfas" }}

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://www.beeflang.org/"
                        "src"  "/assets/Images/tabs/beeflang.png"
                ) "BeefLang" }}

                <!--<a class="menu-link" href="https://www.nicovideo.jp/" style="background-image:url('/assets/Images/tabs/niconico.gif')">
                </a>-->
                <!--<a class="menulink" href="https://www.youtube.com/watch?v=ddWJatRxfz8" style="background-image:url('/assets/Images/tabs/octagon.gif')">
                </a>-->
                <!--<a class="menulink" href="https://www.youtube.com/watch?v=OYG8Ul276-w" style="background-image:url('/assets/Images/tabs/terry.gif')">
                </a>-->
                <!--<a class="menulink" href="https://store.steampowered.com/app/531510/Just_Shapes__Beats/" style="background-image:url('/assets/Images/tabs/shapesnbeats.gif')">
                </a>-->

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://smlwiki.com/"
                        "src"  "/assets/Images/tabs/smlwiki.png"
                ) "SMLWiki" }}

                <!--<a class="menulink" href="https://www.reddit.com/r/unixporn" style="background-image:url('/assets/Images/tabs/unixporn.png')">
                </a>-->

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://saraistupid.github.io/"
                        "src"  "/assets/Images/tabs/saraistupid.gif"
                ) "Saraistupid" }}

                <!--<a class="menulink" href="https://myanimelist.net/anime/30721/Hacka_Doll_The_Animation" title='not "amazing" but not bad either, but it has a trap in it so who cares ¯\_(ツ)_/¯ ' style="background-image:url('/assets/Images/tabs/hackadoll.png')">
                </a>-->

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" ""
                        "src"  "/assets/Images/tabs/killmebaby.png"
                ) "killmebaby" }}

                <!--<a class="menulink" href="https://knowyourmeme.com/" style="background-image:url('/assets/Images/tabs/kym.png')">
                </a>-->
                <!--<a class="menulink" style="background-image:url('/assets/Images/tabs/typescript.png')" href=" ">
                </a>-->
                <!--<a class="menulink" style="background-image:url('/assets/Images/tabs/rhf.gif')" href=" ">
                </a>-->

                {{ partialCached "navbar/menu-link.html" (dict
                        "link" "https://awesomescreenrecorder.com"
                        "src"  "/assets/Images/tabs/screenrecorder.png"
                ) "awesomescreenrecorder" }}

                <!--<a class="menulink" style="background-image:url('/assets/Images/tabs/windows9.png')">
                </a>-->
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <center>    
                    <a href="https://starpelly.com/"><img src="/assets/Images/tabs_classic/pelly.gif"></a>
                    <br>
                    <textarea readonly="">&lt;a href="https://starpelly.com/"&gt;&lt;img src="http://starpelly.com/assets/Images/tabs_classic/pelly.gif"&gt;&lt;/a&gt;</textarea>
                    <br>
                    <span style="color: gray;">
                        DO hotlink my button!
                        <span style="cursor:pointer" onclick="document.getElementById('why-hotlink').hidden = !document.getElementById('why-hotlink').hidden">[?]</span>
                        <div id="why-hotlink" style="font-size:11px;" hidden="">
                            <br>
                            <span>
                                I have unlimited bandwidth.<br>
                                I want to be able to change my button whenever I want, without having to ask people to change it.
                            </span>
                        </div>
                    </span>
                </center>
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <center>                
                    <li><img src="/assets/Images/tabs_classic/bookmark.gif"></li>
                    <li><a href="https://flashii.net/"><img src="/assets/Images/tabs_classic/flashii.gif"></a></li>
                    <li><a href="https://mmaker.moe/"><img src="/assets/Images/tabs_classic/mmaker.gif"></a></li>
                    <li><a href="https://josef.neocities.org/"><img src="/assets/Images/tabs_classic/alulabutton.gif"></a></li>
                    <li><a href="https://dopi.sexy/"><img src="/assets/Images/tabs_classic/dopi.gif"></a></li>
                    <li><a href="https://www.smwcentral.net"><img src="/assets/Images/tabs_classic/smwc.gif"></a></li>
                    <li><a href="https://www.newgrounds.com/"><img src="/assets/Images/tabs_classic/ngbanner2.gif"></a></li>
                    <li><a href="https://www.youtube.com/watch?v=ddWJatRxfz8"><img src="/assets/Images/tabs_classic/octagon.gif"></a></li>
                    <li><a href="https://www.youtube.com/watch?v=OYG8Ul276-w"><img src="/assets/Images/tabs_classic/terry.gif"></a></li>
                    <li><a href="https://iwf.gay/2015/"><img src="/assets/Images/tabs_classic/iwf15.gif"></a></li>
                    <li><a href="https://iwf.gay/2016/"><img src="/assets/Images/tabs_classic/iwf16.gif"></a></li>
                    <li><a href="https://iwf.gay/2017/"><img src="/assets/Images/tabs_classic/iwf17.gif"></a></li>
                    <li><a href="https://iwf.gay/2021/"><img src="/assets/Images/tabs_classic/iwf.gif"></a></li>
                    <li><a href="https://www.foobar2000.org/"><img src="/assets/Images/tabs_classic/fb2k.png"></a></li>
                    <li><a href="http://www.mytouhoupage.net/"><img src="/assets/Images/tabs_classic/mytouhoupage.gif"></a></li>
                    <li><a href="https://agoraroad.neocities.org/"><img alt="Agora Road" src="/assets/Images/tabs_classic/agoraroad.gif"></a></li>
                    <li><a href="https://www.smbxgame.com/"><img src="/assets/Images/tabs_classic/smbx.gif"></a></li>
                    <li><img src="/assets/Images/tabs_classic/minecraft.gif"></li>
                    <li><a href="https://code.visualstudio.com/"><img src="/assets/Images/tabs_classic/vscbutton.gif"></a></li>
                    <li><a href="https://www.oneshot-game.com/"><img src="/assets/Images/tabs_classic/theworldmachine.gif"></a></li>
                    <li><a href="https://stabyourself.net/"><img src="/assets/Images/tabs_classic/stys.png"></a></li>
                    <li><img src="/assets/Images/tabs_classic/discord-no-way.gif"></li>
                    <li><img src="/assets/Images/tabs_classic/wii.gif"></li>
                    <li><img src="/assets/Images/tabs_classic/ss.png"></li>
                    <li><img src="/assets/Images/tabs_classic/adobe.gif"></li>
                    <li><img src="/assets/Images/tabs_classic/godblessbutton1.gif"></li>
                    <li><a href="https://talkhaus.raocow.com/"><img src="/assets/Images/tabs_classic/talkhaus.gif"></a></li>
                    <li><img src="/assets/Images/tabs_classic/gaywomen.gif"></li>
                    <li><img src="/assets/Images/tabs_classic/piss.gif"></li>
                    <li><img src="/assets/Images/tabs_classic/hikikomorigrave.gif"></li>
                    <li><a href="https://github.com/Starpelly"><img src="/assets/Images/tabs_classic/github-check.gif"></a></li>
                    <li><a href="https://cockdickball.in/"><img src="/assets/Images/tabs_classic/kys.gif"></a></li>
                    <li><img src="/assets/Images/tabs_classic/debian.gif"></li>
                    <li><a href="https://www.virtuagirl.net"><img src="https://i.imgur.com/yaA0mNF.gif"></a></li>
                    <li><img src="/assets/Images/tabs_classic/lol.gif"></li>
                </center>
            </div>
        </div>

        <div class="grid_1 content-holder">
            <div class="pad_2">
                <center>
                    <div id="navlink-ad">
                        <iframe style="border:none" src="https://dimden.neocities.org/navlink/" name="neolink" width="200" height="200"></iframe>
                    </div>
                </center>
            </div>
        </div>
        <div class="grid_1 content-holder">
            <div class="pad_2">
                <center>
                {{ if ne hugo.Environment "development" }}
                <!-- FC2 Counter  Starts here -->
                <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=39633438&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=39633438&main=1" /></noscript>
                <!-- FC2 Counter  Ends here -->
                {{ end }}
                </center>
            </div>
        </div>

    </div>
</div>