@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
	font-family: "Popjoy";
	src: url("../assets/fonts/popjoy.otf");
}

// Fonts
$font-text: "Trebuchet MS";
$font-title: "Popjoy";

// Rounding
$button-rounding: 4px;

// Colors
$color-text: rgb(240, 240, 240);

$color-primary: #ffca5f;
$color-primary-2: rgba($color-primary, .3);
$color-primary-3: rgba($color-primary, .15);

$color-secondary: #92bdff;
$color-secondary-2: rgba($color-secondary, .3);
$color-secondary-3: rgba($color-secondary, .15);

$color-background: #333;

html,
body {
   margin:0;
   padding:0;
   min-height:1080px;
}

body {
	font-family: $font-text, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	overflow-y: scroll;

	color: $color-text;

	background-color: #212121;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8'%3E%3Cg fill='%232e2f31' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

	animation: scrollingBG linear 1s infinite;
}

@keyframes scrollingBG {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -16px 16px;
	}
}

.bruh {
   width: 220px;
   height: 220px;
   display: block;
}

.image-container img
{
    border:3px solid #ffffff;
    background-color:#000000;
    padding:5px;
    display:block;
    margin:auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

p {
	line-height:1.5em;
}

h1 {
	font-size:22px;
	font-weight:bold;
	background: url('../images/bg/heading2bg.png') no-repeat bottom;
	line-height:1.5em;
}

h2 {
	font-size:18px;
	font-weight:bold;
	line-height:1.5em;
}

ul {
	margin: 0 0 25px;
	padding: 0 0 0 15px;
}

i {
	font-family: "Material Icons", $font-text, serif;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
	font-size: 1.5rem;
}

/*
li {
       margin-left:-15px;
       background: url("../images/bg/dot.png") no-repeat 0px 5px;
       padding-left:15px;
       margin-top:1em;
}
*/

blockquote {
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.205);
	border-left: 4px solid #00000096;
	margin: 0px;
	padding: 2px 6px 2px 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

b {
	text-shadow: 2px 2px 1px #000;
}

a {
	color: $color-secondary;

	&:visited {
		color: $color-primary;
	}
	&:hover {
		color: $color-primary;
	}
}

.grid_1,
.grid_2,
.grid_4 {
	background-color: $color-background;
	outline: #adadad solid 2px;
}

.content-holder {
	background-color: #191919;
	outline: #191919 solid 2px;
	border-radius: 4px;
}

.header {
	outline: #adadad solid 2px;
	/*-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.38); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.38);*/
}

/* Padding divs so content fits */

.pad {
	padding-left: 10px;
	padding-right: 10px;
}

.pad_2 {
	padding: 10px;
	background-color: $color-background;
}

#logocnt {
   position: relative;
   width: 100%;
   height: 100%;
}

#clicklogo {
   position:relative;
   margin-left:10px;
   display: block;
   width: 230px;
   height: 230px;
   background: url('../assets/pelly.png') 0px 0px;
   outline:0;
   background-repeat:no-repeat;
   overflow:hidden;
}

.menu-links {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 10px;
}

.menu-link {
	display:block;
	position:relative;
	height:69px;
	width:200px;
	outline:0;
	text-decoration:none;
	color:#FFF;
	border-width:0;
	border-style:hidden;
	border-radius: $button-rounding;
	outline: #191919 solid 2px;

	&:not(:last-child) {
		margin-bottom:10px;
	}
}

.menulink-geocity {
	display:block;
	position:relative;
	height:31px;
	width:88px;
	margin-bottom:10px;
	outline:0;
	text-decoration:none;
	color:#FFF;
	border-width:0;
	border-style:hidden;
}

.menu-link:hover {
	outline: rgb(212, 212, 212) solid 2px;
	outline-offset: 2px;
	border-style: solid;
	text-decoration:none;
}
.menu-link:visited {
	text-decoration:none;
}

.menu-link .menulink-geocity .textcnt {
	display:block;
	position:absolute;
	top:0;
	left:0;
	font-size:12px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:6px;
	padding-right:6px;
	background:#111;
	border-bottom-right-radius:5px;
    border-style:inherit;
	font-family: "Varta", serif;
	color:inherit;
	font-weight:bold;
}

.links {
    width:200px;
	display:inline-block;
	background-position:0px 0px;
}

.sociallink {
	position:relative;
	display:inline-block;
	width: 33.5px;
	height: 33.5px;
	background-position:0px 0px;
	outline:0;
	margin:0;
	margin-top:0px;
	margin-right:8px;
	margin-bottom:8px;
    vertical-align:top;
}

.sociallink:hover {
	/*
    transform: scale(0.85);
    transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	*/
}

.sociallink:not(:hover) {
	/*
	transform: scale(1.0);
    transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	*/
}

.sociallink img {
	width: 34px;
	object-fit: scale-down;
	border-radius: $button-rounding;
	outline: #191919 solid 2px;

	&:hover {
		outline: rgb(212, 212, 212) solid 2px;
		outline-offset: 2px;
	}
}

.socialspacer {
	display:none;
	width:10px;
	height:10px;
}

.dame {
	padding: 15px 0px;
	/*Popjoy*/
	margin-top: 12px;
	display:block;
}

.dame iframe {
	margin: 0 auto;
	border: none;
	display: block;
}

.content-title {
	border-radius: inherit;
	height: 120px;
	position:relative;
	font-weight: normal;
	margin-bottom: 2px;
	text-align: center;

	$text-shadow-radius: 6px;
	text-shadow: #000 0 0 $text-shadow-radius, #000 0 0 $text-shadow-radius, #000 0 0 $text-shadow-radius, #000 0 0 $text-shadow-radius, #000 0 0 $text-shadow-radius;

	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 55px;
		font-family: $font-title;
	}
	a {
		text-decoration: none;
		color: $color-text;
	}
	p {
		width: 94.4%;
		text-align: center;
		font-size:25px;
		margin:auto;
		position:absolute;
		z-index:10;
		cursor:default;
		text-shadow: -1px 0px 5px rgb(0, 0, 0);
	}
}

.tabbar {
	position:absolute;
	bottom:0;
}

.tabbar a {
	display:inline-block;
	font-size:16px;
	padding: 0px 135px;
	background: #111;
	
	border:0;
	margin-right:10px;
	
	color:#DDD;
	font-weight:bold;
	outline:0;
	text-decoration:none;
	text-align:center;
	
	border-left:transparent 2px solid;
	border-right:transparent 2px solid;
	border-top:transparent 2px solid;
	

	border-top-left-radius:2px;
	border-top-right-radius:2px;
}

.anon a:visited {
	text-decoration: none;
}

.tabbar a:hover {
	text-decoration:none;
	color: $color-primary;
	
	margin-left:0;
	margin-right: 10px;
	margin-top: 0;
	
	border-left: $color-primary 2px solid;
	border-right: $color-primary 2px solid;
	border-top: $color-primary 2px solid;
}

.tabbar a:visited {
	text-decoration:none;
}

.tabbar a.current {
	background: $color-background;
	text-shadow:2px 2px 1px #000;
	
	border-left:#FFF 2px solid;
	border-right:#FFF 2px solid;
	border-top:#FFF 2px solid;
	color:#FFF;
}

.tabbar a.current:hover {
	color:#FFF;
}

.content-pad {
}

.dl-container {
	padding-top:10px;
	margin-left:-10px;
	margin-right:-10px;
	text-align:center;

	a {
		display:inline-block;
		width: 152px;
		height: 57px;
		background-position:top;
		outline:0;
		margin-left:9px;
		margin-right:9px;

		&:hover {
			background-position:bottom;
		}
	}
}

.article {
	margin-bottom: 2px;
	padding: 20px;
	position: relative;
	background-image: url('../assets/article-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	min-height: 300px;
	background-color: $color-background;
	border-radius: 4px;

	p {
		margin-block: 1.04em;
	}
}

.article-date {
	float:right;
	color:#DDD;
	top:0;
	left:0;
	width:160px;
	height:40px;
	background-color:#191919;
	text-align:center;
	padding-right:20px;
	border-radius: 8px 0px 0px 8px;
	margin-left:10px;
	margin-right:-20px;
	cursor:default;
}
.article-day {
	height:42px;
	font-size:20px;
	font-family: $font-title;
	font-weight: normal;
}

.article-title {
	position:absolute;
	float:none;
	top:27px;
	left:20px;
	height:32px;
	width:590px;
	font-size:21px;
	font-weight:bold;
	padding-right:20px;

	background: url('../images/bg/heading2bg.png') no-repeat bottom;
	color: $color-secondary;
}

.article-body {
	padding-top:42px;
	min-height:258px;

	img {
		padding: 4px;
		display: block;
		margin: auto;
		max-width: 90%;
		background-color: #0000005e;
		border: 1px solid #adadad;
		border-radius: 4px;
	}

	li {
		margin-top:0.5em;
	}
}

.scr-resize {
	text-align:center;
	background-color:#222;
	padding-top:8px;
	padding-bottom:4px;
	margin: -10px -20px 25px;
}

.scr-resize img {
	display:inline-block;
	height:120px;
	width:120px;
	margin: 0 3px;
	border:#222 2px solid;
	border-radius:7px;
}

.scr-resize img:hover {
	border: $color-primary 2px solid;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

code {
    display: block;
    white-space: pre-wrap;
    margin: auto;
    font-family: "JetBrains Mono", "Consolas", monospace;
	font-weight: normal;
    page-break-inside: avoid;
    font-size: 12px;
    overflow: auto;
	word-wrap: break-word;
	background-color: #0000005e;
	border-radius: 6px;
	padding: 8px;
}

hr {
	border: none;
	border-top: 2px solid #191919
}

.navbarwrap {
	/*
	background-color: #191919;
	outline: #191919 solid 2px;
	border-radius: 4px;
	*/
}

.navbar-content > *:not(:last-child) {
	display: block;
	margin-bottom: 10px;
	// margin-bottom: 2px;
}

/* Pagination */
.pagination {
	margin: 0;
	display: flex;
	background-color: #262626;
	border-radius: 4px;

	ul {
		list-style: none;
	}

	.pagination-list {
		align-items: center;
		display: flex;
		text-align: center;

		margin: 0;
		padding: 0;

		flex-grow: 1;
		flex-shrink: 1;
		justify-content: flex-start;
		order: 1;
		flex-wrap: wrap;
	}
}

.pagination-link, .pagination-next, .pagination-previous {
	background-color: $color-secondary-3;
	color: $color-secondary !important;

	min-width: 2.5em;
	height: 2.5em;

	font-weight: bolder;

	justify-content: center;
	margin: .25rem;
	text-align: center;

	border-radius: $button-rounding;
	align-items: center;
	display: inline-flex;

	text-decoration: none !important;

	user-select: none;

	@mixin current() {
		background-color: $color-secondary-2;
		color: white;
	}

	&.is-current {
		@include current();
	}
	&:hover {
		@include current();
	}
	&[disabled] {
		opacity: .5;
		cursor: not-allowed;
	}
}

.pagination-previous {
	order: 2;
}

.pagination-next {
	order: 3;
}