// Fonts
$font-text: 'Lucida Grande'; // "Trebuchet MS"
$font-title: "Popjoy";

// Rounding
$button-rounding: 4px;
$border-rounding: 0px;

// Layout
$border-width: 2px;

// Colors
$color-text: #d0d1d4; // #DFDFDF

// $color-primary: #ffa75f;
$color-primary: #92bdff;
$color-primary-2: rgba($color-primary, .3);
$color-primary-3: rgba($color-primary, .15);

$color-secondary: #92bdff;
$color-secondary-2: rgba($color-secondary, .3);
$color-secondary-3: rgba($color-secondary, .15);

$color-page-background: #212121;
$color-background: #333;
$color-border: #191919;

// Animations
$anim-3dbutton-depth: 4px;