// Fonts
$font-text: Lato; // "Trebuchet MS"
$font-title: "Popjoy";

// Rounding
$button-rounding: 4px;
$border-rounding: 0px;

// Layout
$border-width: 2px;

// Colors
$color-text: rgb(240, 240, 240);

$color-primary: #ffca5f;
$color-primary-2: rgba($color-primary, .3);
$color-primary-3: rgba($color-primary, .15);

$color-secondary: #92bdff;
$color-secondary-2: rgba($color-secondary, .3);
$color-secondary-3: rgba($color-secondary, .15);

$color-page-background: #212121;
$color-background: #333;