<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container container_4">
    {{ partialCached "navbar.html" . }}
    <div class="grid_3">
      {{ partialCached "header.html" . }}

      <div class="content-holder">
        
        <div class="content-pad">
          <main>
            {{ block "main" . }}{{ end }}
          </main>

          {{ if .IsHome }}

          <nav class="pagination" role="navigation">
            <a class="pagination-previous" {{ if .Paginator.HasPrev }} href="{{ .Paginator.Prev.URL }}" {{ else }} disabled {{ end }}>
              <i>arrow_left</i>
            </a>
            <a class="pagination-next" {{ if .Paginator.HasNext }} href="{{ .Paginator.Next.URL }}" {{ else }} disabled {{ end }}>
              <i>arrow_right</i>
            </a>

            <ul class="pagination-list">
            {{ range .Paginator.Pagers }}
              <li>
                <a class="pagination-link {{ if eq .URL $.Paginator.URL }} is-current {{ end }}" href="{{ .URL }}">
                  {{ .PageNumber }}
                </a>
              </li>
            {{ end }}
            </ul>
          </nav>

          {{ end }}
        </div>
      </div>
    </div>

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
