<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container container_4">
    {{ partialCached "navbar.html" . }}
    <div class="grid_3">
      {{ partialCached "header.html" . }}

      <div class="content-holder">
        
        <div class="content-pad">
          <main>
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
    </div>

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>

    {{ $main := resources.Get "js/main.js" | js.Build | minify | fingerprint }}
  <script src="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}"></script>
</body>
</html>
