{{ define "main" }}

<div class="article">
  {{ if .Date }}
  <div class="articledate">
    <div class="articleday">
      {{ .Date.Format "01/02/2006" }}
    </div>
  </div>
  {{ end }}
  <div class="articletitle">
    <a rel="prefetch" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>
  <div class="articlebody">
    <hr>
    {{ .Content }}
  </div>

  <div id="disqus_thread"></div>
  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://starpelly.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

{{ end }}
