{{ define "main" }}

<div class="article">
  {{ if .Date }}
  <div class="article-date">
    <div class="article-day">
      {{ .Date.Format "01/02/2006" }}
    </div>
  </div>
  {{ end }}
  <div class="article-title">
    <a rel="prefetch" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>
  <div class="article-body">
    <hr>
    {{ .Content }}
  </div>
</div>

<div class="comments">
    <h1>Comments</h1>
    <div id="isso-thread"></div>

    {{ $style_isso := resources.Get "/scss/isso.scss" | resources.ToCSS | resources.Fingerprint }}
    <script data-isso="https://comments.starpelly.com/" src="https://comments.starpelly.com/js/embed.min.js" data-isso-css-url="{{ $style_isso.Permalink }}"></script>
</div>

{{ end }}
