{{ define "main" }}
	<div class="article">
  <div class="article-info">
      <div class="article-title">
        <a rel="prefetch" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        {{ if .Page.Draft }}
          <span class="draft">draft</span>
        {{ end }}
      </div>
  </div>

  <div class="article-body">
    <hr class="main-hr">

    {{ with .Content }}<div>{{ . }}</div>{{ end }}

		<ul>
			<li><a href="/things">All</a></li>
			<li><a href="/things/article">Articles</a></li>
			<li><a href="/things/game">Games</a></li>
			<li><a href="/things/story">Stories</a></li>
			<li><a href="/things/tv">TV Shows / Web Series</a></li>
			<li><a href="/things/video">Videos</a></li>
			<li><a href="/things/website">Websites</a></li>
		</ul>

		{{ $showAll := .Parent.IsHome }}
		{{ partial "things.html" (dict "ctx" . "showAll" $showAll) }}
  </div>
</div>

        {{ partial "pagination.html" . }}

{{ end }}
